.about {
    text-align: center;
    margin-top: 1.9%;
}
.aboutimg {
    max-width: 30%;
    height: auto;
    margin-top: 3%
}
.aboutp {
    margin: 0 17vw;
}
body {
    background-color: #afaab5;
    font-family: 'Lora';
    font-weight: bold;
}
h1 {
    font-weight: bold;
}
.card-columns {
    column-count: 2;
    display: inline-block;
}
.contacticon {
    margin: 0 3vw;
}

.p2img {
    width: 200%;
}
.project1 {
    background-color: #AEF5D2;
}
.project2 {
    background-color: #CAE1FF;
}
.project3 {
    background-color: #CAE1FF;
}
.project4 {
    background-color: #AEF5D2;
}
.myprojects {
    margin-top: 5%;
}
.contact {
    margin-top: 3%;
}